/*
Skin Name: Nivo Slider Dark Theme
Skin URI: http://nivo.dev7studios.com
Description: A dark skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-dark.slider-wrapper {
    background: #222;
    padding: 10px;
}
.theme-dark .nivoSlider {
  position:relative;
  background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    overflow: visible;
}
.theme-dark .nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
.theme-dark .nivoSlider a {
  border:0;
  display:block;
}

.theme-dark .nivo-controlNav {
  text-align: left;
  padding: 0;
  position: relative;
  z-index: 10;
}
.theme-dark .nivo-controlNav a {
  display:inline-block;
  width:10px;
  height:10px;
  background:url(bullets.png) no-repeat 0 2px;
  text-indent:-9999px;
  border:0;
  margin: 0 2px;
}
.theme-dark .nivo-controlNav a.active {
  background-position:0 100%;
}

.theme-dark .nivo-directionNav a {
  display:block;
  width:30px;
  height:30px;
  background: url(arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
  top: auto;
  bottom: -36px;
  z-index: 11;
}
.theme-dark .nivo-directionNav a:hover {
    background-color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.theme-dark a.nivo-nextNav {
  background-position:-16px 50%;
  right:0px;
}
.theme-dark a.nivo-prevNav {
    background-position:11px 50%;
    left: auto;
  right: 35px;
}

.theme-dark .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-dark .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-dark .nivo-caption a:hover {
    color:#fff;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
  width: 80%;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}