/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}
blockquote, q {
  quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

a, a:visited {
  color:blue;
  text-decoration:none;
}
a:hover, a:active {
  color:#000;
  text-decoration:none;
}




/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
  clear:both;
}